<html> 
<head>
    <meta charset="UTF-8">
    <meta name="description" content="The Personal Blog of Aleksejs Ivanovs">
    <meta name="author" content="Aleksejs Ivanovs">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>The Personal Blog of Aleksejs Ivanovs</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,900,900i&subset=latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body>
    <div class="wrapper">
      <div class="header">
        <a href="/">Aleksejs Ivanovs</a>
      </div>
      <div class="center">
        <div class="posts">
            {{>templates/post-list.html}}
        </div>
      </div>
      <div class="footer">
      </div>
    </div>
</body>
</html>
